@tailwind base;
@tailwind components;
@tailwind utilities;

/* sidenav open close time */
.transition-width {
    transition: width 0.3s;
  }

  body{
    background-color: rgb(250, 248, 248);
  }
  .custom-height{
    height: 1500;
  }

  /* For Webkit browsers (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}